/* Sample CSS file */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    margin-left: 20px;
    margin-right: 20px;
    padding: 0;
    background: #f4f4f4;
    color: #333;
}

h1, h2 {
    color: darkviolet;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    background: #fff;
    border: 1px solid #ddd;
    margin-bottom: 5px;
    padding: 10px;
}

ul li a {
    text-decoration: none;
    color: #333;
}

ul li a:hover {
    color: #275a74;
}

a {
    color: #333;
    text-decoration: none;
}

a:hover {
    color: #275a74;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

.header, .footer {
    background: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.header h1, .footer h2 {
    margin: 0;
}

.page {
    padding: 20px;
    background: #fff;
    min-height: 400px;
    margin-bottom: 20px;
}

.blockquote {
    border-left: 3px solid #ccc;
    margin: 10px;
    padding-left: 20px;
}

hr {
    border: 0;
    height: 1px;
    background: #333;
    margin: 20px 0;
}

#link {
    color: darkcyan;
    font-weight: bold;
    text-decoration: none;
}

#link:hover {
    color: #275a74;
    text-decoration: underline;
}
